
/* this is just the better box model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* minimalist reset */
* {
	padding: 0;
	margin: 0;
	font-size: 1rem;
}

/* typography */
body {
	font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", Consolas, "Liberation Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro","Droid Sans Mono", "Lucida Console", "Courier New", monospace;
	line-height: 1.5;
	background-color: #2b2b2b;
  color: #d4d4d4;
}

/* no text overflow */
p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
  /* overflow-wrap: anywhere */
}

/* media should not be inline, but be blocks */
/* media shouldn't break out of their container */
img, picture, video, canvas, svg {
	display: block;
    max-width: 100%;
}

/* remove gap between table cells */
table {
	border-collapse: collapse;
}

a {
	color: inherit;
}

a:hover, a:focus {
	color: #2b2b2b;
  background-color: #d4d4d4;
}

body {
	padding: 2rem;
	margin: 0 auto;
	max-width: 50rem;
}

@media (max-width: 600px)  {
	body {
		padding: 0.5rem;
	}
}

h1 {
	font-size: 1.5rem;
}

h2 {
	border-top: solid 0.1rem;
	padding-top: 2rem;
}

h2 a {
	font-size: 1.5rem;
	text-decoration: none;
}

h3 {
	font-style: italic;
	padding-top: 2rem;
}

h4 {
	font-weight: 400;
	filter: opacity(0.5);
}

p, img {
	padding-top: 1rem;
}

li {
	list-style-type: square;
	margin-left: 1rem;
}

section {
	padding-bottom: 2rem;
}

table, th, td {
	border: 0.1rem solid;
	padding: 0.1rem 0.5rem;
}

table {
	margin: 1rem 0;
	line-height: 1.2;
}

footer {
	padding-top: 5rem;
	text-align: right;
	color: #999999;
}
footer a:hover, footer a:focus {
	background-color: white;
}

.module-A {
	color: #D8D4B2;
}

.module-A a:hover, .module-A a:focus {
	background-color: #D8D4B2;
}

#module-B {
	color: rgb(150, 173, 252);
}

#module-B a:hover, #module-B a:focus {
	background-color: rgb(150, 173, 252);
}

#module-C {
	color: #D9A347;
}

#module-C a:hover, #module-C a:focus {
	background-color: #D9A347;
}

#module-D {
	color: rgb(185, 135, 220);
}

#module-D a:hover, #module-D a:focus {
	background-color: rgb(185, 135, 220);
}

#module-E {
	color: rgb(168, 242, 154);
}

#module-E a:hover, #module-E a:focus {
	background-color: rgb(168, 242, 154);
}

.rotate-text {
	transform: rotate(180deg);
	writing-mode: vertical-rl;
	text-align: left;
}

th {
	vertical-align: bottom;
}

.faded {
	filter: opacity(0.5);
}

.image-filter {
	filter: sepia(100%) hue-rotate(190deg) saturate(300%);
}

/* YICHI */