h5 {
  margin: 1em 0;
  font-size: 1.25em;
  text-align: center;
  position: relative;
}

hr {
  display: block;
  height: 0;
  border: 0;
  border-top: 1px solid;
  color: inherit;
  margin: 2em 0;
}

.toc-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 两列等宽 */
  list-style-type: upper-alpha; /* 字母编号 */
  padding-left: 1em;
}

.toc-container li {
  margin-bottom: 8px;
}

.toc-container a {
  text-decoration: none;
  color: inherit;
}